.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-section {
  text-align: center;
  background: skyblue;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

.landing-title {
  margin: 46vh;
  top: 0;
  left: 0;
  font-size: 3em;
  letter-spacing: 8px;
}

.burger-menu {
  margin: 0;
  float: right;
  padding: 20px;
  font-size: 2em;
}

.mobileNav {
  list-style: none;
  margin: 0px;
  background-color: #fff;
}

.mobileNav li {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0
}


/* PROJECT SECTION */


.project-section {
  background: lightgrey;
  text-align: center;
  width: 100%;
  padding: 30px;
  height: 100%;
}

.project-card {
  background: white;
  margin: 10px 20% 10px 20%;
  padding: 10px;
  width: 50%;
  height: 180%;
}

.card-title {
  font-size: 2em;
  margin: 0;
  padding: 20px 10px;
}

.card-info {
  margin: 0;
  padding: 20px 10px;
}

.card-tool-container {
  display: none;
  padding: 20px 100px;
}

.card-tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .6em;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0px 0px;
}

.card-tools li {
  height: 10px;
  width: 40px;
  padding: 5px;
  border: 1px solid blue;

}

.card-btns {
  padding: 20px 0 0 0;
  align-items: center;
}

.card-btns button {
  border: none;
  font-size: .7em;
  text-transform: uppercase;
  padding: 2% 4%;
  margin: 0 1%;
  background-color: lightgrey;
}


/* CONTACT SECTION */


.contact-section {
  background: teal;
  text-align: center;
  width: 100%;
  height: 100vh;
}
