.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
  background: #8EB6F2;
  background: -webkit-linear-gradient(0deg, #bfd8ff, #d4e2f7);
  background: linear-gradient(0deg, #bfd8ff, #d4e2f7);



}

.home-section {
  text-align: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 1px;
}


.landing-text {
  color: #27282B;
  margin: 40vh auto;
}

.about-me {
  width: 65%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5em;
}

.landing-title {
  top: 0;
  left: 0;
  font-size: 1.3em;
  margin: 0;
  font-weight: bold;
}

.down-arrow {
  color: #27282B;
  font-size: 2em;
  cursor: pointer;
  margin-top: 15%;
}

.up-arrow {
  color: #27282B;
}

@media (max-width: 845px) {
  .about-me {
    padding-bottom: 50px;
  }
}

@media (max-height: 800px) {
  .landing-text {
    margin: 20vh auto;
  }

  .home-section {
    padding-bottom: 150px;
  }

}

@media (max-width: 400px) {
  .down-arrow {
    margin-top: 0;
  }
}

@media (max-height: 500px) {
  .down-arrow {
    display: none;
  }
}

/* PROJECT SECTION */


.project-title {
  color: #27282B;
  font-size: 2em;
  margin-top: 0;
  font-weight: bold;
}

.project-underline {
  width: 10%;
  margin: 10px auto;
  border-top: 2px solid #555;
  margin-bottom: 50px;
}

.project-section {
  padding: 30px 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.project-card {
  color: #27282B;
  border-radius: 3px;
  background: #F7F8FC;
  margin: 60px auto;
  width: 50%;
  height: 70%;
  box-shadow: -8px 12px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-back {
  width: 50%;
  margin: 10px auto 30px auto;
  padding: 30px;
  background: rgba(191, 216, 255, .8);
  box-shadow: -8px 12px 30px 0px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.project-card img {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.card-title {
  letter-spacing: 1px;
  font-size: 1.5em;
  margin: 5px 0 0 0;
  padding: 30px 10px;
}

.card-info {
  margin: 0 auto;
  padding: 20px 10px;
  width: 70%;
}

.card-tool-container {
  display: none;
  padding: 20px 100px;
}

.card-tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .6em;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0px 0px;
}

.card-tools li {
  height: 10px;
  width: 40px;
  padding: 5px;
  border: 1px solid blue;

}

.card-btns {
  padding: 30px 0;
  align-items: center;
}

.card-btns button {
  cursor: pointer;
  border: none;
  font-size: .7em;
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 0 1%;
  transition: 300ms;
  background: linear-gradient( to bottom, #616264, #27282B);
  color: #F7F8FC;
  border-radius: 5px;
  box-shadow: -8px 6px 15px 0px rgba(0, 0, 0, 0.09);
}

.card-btns a {
  text-decoration: none;
}

.card-btns button:hover {
  opacity: .9;
}

@media (max-width: 630px ) {

  .card-btns button {
    margin: 10px;
  }

}

@media (max-width: 850px) {
  .project-card {
    width: 85%;
  }
}

/* CONTACT SECTION */

.contact-section {
  padding: 0;
  text-align: center;
  width: 100%;
}

.contact-title {
  color: #27282B;
  font-size: 2em;
  margin-top: 0;
  padding: 20px 0;
  font-weight: bold;
}

.social-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.social-links ul li {
    margin: 0 15px;
    padding: 5px;
}

@media (max-width: 380px) {
  .social-links ul {
    display: inline-block;
  }

  .social-links ul li {
    margin: 15px 0px;
  }
}

.social-links ul li a {
  font-size: 1.7em;
  text-decoration: none;
  color: #27282B;
  transition: 200ms;
}

.social-links ul a:hover {
  opacity: .6;
}

.contact-underline {
  width: 10%;
  margin: auto;
  border-top: 2px solid #555;
}

.signature {
  font-size: .8em;
  margin: 10px 0 5pz 0;
  padding: 15px 0;
  font-weight: 100;
}

.fa-copyright {
  font-size: .8em;
  font-weight: 100;
}
