body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(90deg, #Deefe2 10%, #D2E9D8);
}

html {
  height: 100%;
  top: 0;
  left: 0;
}

#root {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
